body, header, nav, main, footer, h1, div, img, ul{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #000;
}

/*header{
    width: 25%;
    float: left;
}*/

header{
    background-color: #000;
    height: 190px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header img{
    margin: 0 auto;
}

nav{
    padding: 1%;
    margin-bottom: 1%;
}

main{
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li{
    font-size: 1.75em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid  #fff;

}
nav li a{
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}
img
{
    max-width : 100%;
    display: block;
}

footer p
{
    font-size: 01.75em;
    text-align: center;
    color: #fff;
    padding: 0.1em;
}

footer p a
{
    color: #fff;
    text-decoration: none;
}

#contact
{
    text-align: center;
}

#contact a
{
    color: #666600;
    text-decoration: none;
}

#weights, #cardio, #training
{
    width: 29%;
    float: left;
    margin: 0.2%;
}

#exercises
{
    clear: left;
    border-top: 1px solid #000 ;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1% 2%;
}

#exercises dt
{
    font-weight: bold;
}

#exercises dd
{
    font-weight: bold;
    padding: 0.5% 2% 2% 0%;
}

.action
{
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

.external-link
{
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

.map
{
    border: 8px solid #000;
}

li:first-child{
    font-size: 1.25em;
    color: #000066;
}

.tablet-desktop{
    display: none;
}

.tel-link{
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}
.hours{
    margin-left: 10%;
    
}
